{% extends 'base.html' %}
{% block css %}href="{{ url_for('static', filename='style.css') }}"{% endblock %}
{% block content %}
    <div class="container mt-5 text-center">
        <h1 class="mb-3">All Cryptocurrencies</h1>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Current Price:</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ticker in tickers.items %}
                {% if get_price(ticker.cg_ticker_id) != 'No price available for this coin' %}
                    <tr>
                        <td>{{ ticker.ticker }}</td>
                        <td>${{ get_price(ticker.cg_ticker_id) }}</td>
                        <td><a class="btn btn-outline-info" href="{{ url_for('main.buy', ticker=ticker.ticker) }}">Buy</a>
                            <a class="btn btn-outline-danger" href="{{ url_for('main.sell', ticker=ticker.ticker) }}">Sell</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <nav class="nav justify-content-center" aria-label="...">
            <ul class="pagination">
                {% for page in tickers.iter_pages() %}

                    {% if page %}
                        <li class="btn btn-outline-info mb-4"><a class=""
                                                 href="{{ url_for('main.pagination', page_number=page) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="btn btn-outline-info mb-4"><a class="" href="">...</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}