{% extends 'base.html' %}
{% block content %}
    <div class="container justify-content-center text-center">

        <h1>{{ crypto.ticker }} - USD</h1>
        <br>
        <div class="card bg-dark text-center">
            <div class="card-body">
                <p>Price: {{ price }}</p>
                <p>Current holding amount: {{ holding }} </p>
                <p>Value: {{ value }}</p>
                <p>USD: {{ current_user.usd }}</p>
            </div>
            <div class="card-footer flex text-center">
                <p>Amount to sell:</p>
                <form class="justify-content-center row g-3" action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="col-auto">
                        {{ form.amount(class="form-control") }}
                    </div>
                    <div class="col-auto">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}